.App {
  text-align: start;
}

.resume_headline {
  font-size: 25px;
}

.photo-position {
  position: absolute;
  right: 0;
  border: 1px solid #a5a5ad;
  top: 50px;
  margin-right: 150px;
}

.photo-text {
  display: flex;
  font-size: 10px;
  justify-content: center;
}

.photo-linkback {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-top: 8px;
  background: rgb(237, 245, 242);
}

.link-size {
  width: 18px;
  height: 18px;
}

.image-size {
  width: 150px;
  height: 150px;
}

img-style {
  border: 1px solid rgb(112, 90, 90);
  border-radius: 4px;
  padding: 5px;
}

.container-contact {
  display: flex;
  justify-content: center;
}
.demo-content {
  padding: 2px;
  font-size: 14px;
  margin-bottom: 1px;
  text-align: center;
}

.contacttext-align {
  align-items: center;
}

.Text-style {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
